<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<div class="row">
	
	  <div class="col-md-12">
	  <div ba-panel ba-panel-title="Consomation" ba-panel-class="with-scroll">
	      <div include-with-scope="app/pages/vueGlobale/table/tableConsomation.html"></div>
	    </div>
	  </div>
	 <div class="add-row-editable-table">
	  <button class="btn btn-primary" ng-click="exportData()">exporter en xls</button>
	</div>
</div>
