#icon-compte {
  color : white;
  font-size: 2em;
}
#lien-hypertexte {
  color : #D2FAF5;
}

.alert .bg-danger{
  background-color: red;
}

.capitalize::first-letter{
  text-transform: capitalize;
}

.rowCompteurs:hover{
  cursor: pointer;
  color: #666666;
}

.selectedRow{
  color: white;
  background-color: rgba(32, 158, 145, 0.9);
  font-weight: bold;
}
