<script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    //country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  // [START region_fillform]
  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    var adress = place.address_components[0]['long_name'] + ' ' + place.address_components[1]['long_name'];
    if(document.getElementById("autocomplete") != null){
    document.getElementById("autocomplete").value =  adress;
    }

    var ville = place.address_components[2]['long_name'];
    if(document.getElementById("inputVille") != null){
    document.getElementById("inputVille").value =  ville;
    }

    var code_postal = place.address_components[6]['long_name'];
    if(document.getElementById("inputCP") != null){
      document.getElementById("inputCP").value =  code_postal;
    }

     var pays = place.address_components[5]['long_name'];
    if(document.getElementById("inputPays") != null){
    document.getElementById("inputPays").value =  pays;
    }
  }
  // [END region_fillform]

  // [START region_geolocation]
  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
  // [END region_geolocation]
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4mQfKHOsUs17kA71DWcTt4t45nyGl68Q&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>

<div ba-panel ba-panel-class="profile-page" ng-controller="MonCompteCtrl">
  <div class="panel-content">

    <h3 class="with-line">Informations générales</h3>

    <div class="alert bg-danger" ng-show="errorChamps">
      Vous devez remplir tous les champs
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Prénom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="Prénom" ng-model="formData.name">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Nom</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="Nom" ng-model="formData.lastname">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Contacts</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="formData.mail">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Adresse</label>

          <div class="col-sm-9">
		        <input id="autocomplete" placeholder="Adresse"
             onFocus="geolocate()" type="text" class="form-control" ng-model="formData.address"></input>
           <!-- <input type="text" class="form-control" id="inputAdresse" placeholder="Adresse" ng-model="formData.address">-->
            <input type="text" class="form-control" placeholder="Code Postal"  style="width: 22%;float: left; margin: 1%; margin-left: 0;" ng-model="formData.postalcode" id="inputCP">
            <input type="text" class="form-control" placeholder="Ville"   style="width: 52%;float: left; margin: 1%;" ng-model="formData.city" id="inputVille">
            <input type="text" class="form-control" placeholder="Pays"  style="width: 22%;float: left; margin: 1%; margin-right: 0;" ng-model="formData.country" id="inputPays">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Changer le mot de passe</h3>

    <div class="alert bg-danger" ng-show="errorPass">
      Confirmer votre mot de passe
    </div>
    <div class="alert bg-danger" ng-show="errorPassDif">
      Vos mots de passe sont differents
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Mot de passe</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe" ng-model="formData.passwordNew">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirmer</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Mot de passe" ng-model="formData.passwordConfirmation">
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="update()">
      <i class="ion-android-checkmark-circle"></i>Modifier le profil
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <div ba-panel ba-panel-title="Liste des compteurs" ba-panel-class="with-scroll">
      <div include-with-scope="app/pages/monCompte/table/tableCompteurs.html"></div>
    </div>
  </div>
</div>
