<div  ng-controller='TableauDeBordCtrl'>
  <div class="row">
    <div class="col-md-12">
  	  <div ba-panel ba-panel-title="Liste des compteurs" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/tableauDeBord/table/tableCompteurs.html"></div>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="col-lg-12 col-md-12"
  	     ba-panel
  	     ba-panel-title="Vue de la consommation détaillée"
  	     ba-panel-class="with-scroll">
  	  <div ng-include="'app/pages/tableauDeBord/graph/vueDetaillee.html'"></div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-lg-12 col-md-12"
  	     ba-panel
  	     ba-panel-title="Vue de la consommation moyennée"
  	     ba-panel-class="with-scroll">
  	  <div ng-include="'app/pages/tableauDeBord/graph/vueConsoMoyenne.html'"></div>
  	</div>
  </div>
</div>
