<!DOCTYPE>
<html ng-app="SmartReleve">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


  <title>Compteur</title>
</head>
<body>
  <div class="container" ng-controller="compteur">
    <h1>counter List App</h1>

    <table class="table">
      <tbody>
        <tr>
          <td><label>Numero</label></td>
          <td><input class="form-control" ng-model="counter.numeroCompteur"></td>
        </tr>
        <tr>
          <td><label>Nom</label></td>
          <td><input class="form-control" ng-model="counter.nom"></td>
        </tr>
        <tr>
          <td><label>Modèle</label></td>
          <td><input class="form-control" ng-model="counter.modele"></td>
        </tr>
          <td><label>Type</label></td>
          <td><input class="form-control" ng-model="counter.type"></td>
        </tr>
          <td><label>Registretion Date</label></td>
          <td><input class="form-control" ng-model="counter.registretionDate"></td>
        </tr>
          <td><label>email_user</label></td>
          <td><input class="form-control" ng-model="counter.email_user"></td>
        </tr>
          <td><button class="btn btn-primary" ng-click="addcounter()">Add counter</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
      </tbody>
    </table>
        <table class="table">
          <tbody>
        <tr ng-repeat="counter in counterlist">
          <td>{{counter.numeroCompteur}}</td>
          <td>{{counter.nom}}</td>
          <td>{{counter.modele}}</td>
          <td>{{counter.type}}</td>
          <td>{{counter.registretionDate}}</td>
          <td>{{counter.email_user}}</td>
          <td><button class="btn btn-danger" ng-click="remove(counter._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(counter._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/compteur.js"></script>
</body>
</html>
