<!DOCTYPE>
<html ng-app="SmartReleve">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Contrat</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>Liste des contrats</h1>

    <table class="table">
      <tbody>
        <tr>
          <td><label>NumeroCompteur</label></td>
          <td><input class="form-control" ng-model="contract.numeroCompteur"></td>
        </tr>
        <tr>
          <td><label>Nom</label></td>
          <td><input class="form-control" ng-model="contract.nom"></td>
        </tr>
          <td><label>User email</label></td>
          <td><input class="form-control" ng-model="contract.user_email"></td>
        </tr>
          <td><label>Date début</label></td>
          <td><input class="form-control" ng-model="contract.dateDebut"></td>
        </tr>
          <td><label>Date fin</label></td>
          <td><input class="form-control" ng-model="contract.dateFin"></td>
        </tr>
          <td><button class="btn btn-primary" ng-click="addcontract()">AJouter contrat</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <tbody>
        <tr ng-repeat="contract in contractlist">
          <td>{{contract.numeroCompteur}}</td>
          <td>{{contract.nom}}</td>
          <td>{{contract.user_email}}</td>
          <td>{{contract.dateDebut}}</td>
          <td>{{contract.dateFin}}</td>
          <td><button class="btn btn-danger" ng-click="remove(contract._id)">Supprimer</button></td>
          <td><button class="btn btn-warning" ng-click="edit(contract._id)">Modifier</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/contrat.js"></script>
</body>
</html>
