<!DOCTYPE>
<html ng-app="SmartReleve">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>User</title>
</head>
<body>
  <div class="container" ng-controller="user">
    <h1>Liste des utilisateurs</h1>

    <table class="table">
      <tbody>
        <tr>

           <td><label>Name</label></td>
           <td><input class="form-control" ng-model="user.name"></td>
         </tr>
           <td><label>Lastname</label></td>
           <td><input class="form-control" ng-model="user.lastname"></td>
         </tr>
           <td><label>Password</label></td>
           <td><input class="form-control" ng-model="user.password"></td>
         </tr>
           <td><label>Mail</label></td>
           <td><input class="form-control" ng-model="user.mail"></td>
         </tr>
           <td><label>Address</label></td>
           <td><input class="form-control" ng-model="user.address"></td>
         </tr>
           <td><label>PostalCode</label></td>
           <td><input class="form-control" ng-model="user.postalcode"></td>
         </tr>
           <td><label>City</label></td>
           <td><input class="form-control" ng-model="user.city"></td>
         </tr>
           <td><label>Country</label></td>
           <td><input class="form-control" ng-model="user.country"></td>
         </tr>
         <td><label>Role</label></td>
         <td><input class="form-control" ng-model="user.role"></td>
         </tr>
          <td><button class="btn btn-primary" ng-click="adduser()">Créer un nouvel utilisateur</button></td>
          <td><button class="btn btn-info" ng-click="update()">Mettre à jour</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <tbody>
        <tr ng-repeat="user in userlist">
          <td>{{user._id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.password}}</td>
          <td>{{user.mail}}</td>
          <td>{{user.address}}</td>
          <td>{{user.postalcode}}</td>
          <td>{{user.city}}</td>
          <td>{{user.country}}</td>
          <td>{{user.role}}</td>
          <td><button class="btn btn-danger" ng-click="remove(user._id)">Supprimer</button></td>
          <td><button class="btn btn-warning" ng-click="edit(user.mail)">Modifier</button></td>
        </tr>
      </tbody>
    </table>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/user.js"></script>
</body>
</html>
