<!DOCTYPE html>
<html lang="en" ng-app="SmartReleve">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smart Relève</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../../sass/css/style.css">
  <link rel="icon" type="../../image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
  <link rel="icon" type="../../image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
  <link rel="icon" type="../../image/png" sizes="96x96" href="../../assets/img/favicon-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../lib/ionicons.css" >
  <link rel="stylesheet" href="../../lib/angular-toastr.css" >
  <link rel="stylesheet" href="../../lib/animate.css" >
  <link rel="stylesheet" href="../../lib/bootstrap.css" >
  <link rel="stylesheet" href="../../lib/bootstrap-select.css" >
  <link rel="stylesheet" href="../../lib/bootstrap-switch.css" >
  <link rel="stylesheet" href="../../lib/bootstrap-tagsinput.css" >
  <link rel="stylesheet" href="../../lib/font-awesome.css" >
  <link rel="stylesheet" href="../../lib/fullcalendar.css" >
  <link rel="stylesheet" href="../../lib/leaflet.css" >
  <link rel="stylesheet" href="../../lib/angular-progress-button-styles.min.css" >
  <link rel="stylesheet" href="../../lib/chartist.min.css" >
  <link rel="stylesheet" href="../../lib/morris.css" >
  <link rel="stylesheet" href="../../lib/ion.rangeSlider.css" >
  <link rel="stylesheet" href="../../lib/ion.rangeSlider.skinFlat.css" >
  <link rel="stylesheet" href="../../lib/textAngular.css" >
  <link rel="stylesheet" href="../../lib/xeditable.css" >
  <link rel="stylesheet" href="../../lib/style.css" >
  <link rel="stylesheet" href="../../lib/select.css" >
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/auth.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../auth.css">
  <!-- endinject -->
  <!-- endbuild -->
  <!-- code intégré -->
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: black;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>

</head>
    
    <body>
        <div ba-panel ba-panel-class="profile-page" ng-controller="users">
          <div class="panel-content">

            <div class="row">
              <div class="col-md-12">
                <div ba-panel ba-panel-title="Liste des compteurs" ba-panel-class="with-scroll">
                    <div class="add-row-editable-table">
                          <button class="btn btn-primary" ng-click="addCompteur()">Ajouter un compteur</button>
                        </div>
                        <table class="table table-bordered table-hover table-condensed">
                          <tr>
                            <td hidden="true">Id</td>
                            <td>N°</td>
                            <td>Nom</td>
                            <td>Modèle</td>
                            <td>Type</td>
                            <td>Date d'installation</td>
                            <td>Actions</td>
                          </tr>
                          <tr ng-repeat="compteur in compteurs" class="editable-row">

                            <td hidden="true">
                                {{compteur.id}}
                            </td>
                              <td>
                                <div editable-text="compteur.numero" e-name="numero" e-form="rowform" e-required>
                                  {{compteur.numero}}
                                </div>
                              </td>
                            <td>
                                <div class="capitalize" editable-text="compteur.nom" e-name="nom" e-form="rowform" onbeforesave="updateCompteur(compteur)" e-required>
                                  {{ compteur.nom || 'empty' }}
                                </div>
                            </td>
                            <td>
                                <span editable-text="compteur.modele" e-name="type" e-form="rowform" e-required>
                                  {{ compteur.modele }}
                                </span>
                            </td>
                            <td>
                                <div class="capitalize" editable-text="compteur.type" e-name="type" e-form="rowform" e-required>
                                  {{ compteur.type }}
                                </div>
                            </td>
                            <td>
                                <span editable-text="compteur.date" e-name="date" e-form="rowform" e-required>
                                  {{ compteur.date }}
                                </span>
                            </td>
                            <td>
                              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                                    shown="inserted == compteur">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                                  Ajouter
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel($index, compteur.id)" class="btn btn-default editable-table-button btn-xs">
                                  Annuler
                                </button>
                              </form>
                              <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Modifier</button>
                                <button class="btn btn-danger editable-table-button btn-xs" class="md-primary md-raised" ng-click="showConfirm($event, compteur, $index)">Supprimer</button>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <script type="text/ng-template" id="myModalContent.html">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modal-title">Supprimer un compteur</h3>
                            </div>
                            <div class="modal-body" id="modal-body">
                                  Êtes-vous sûr de vouloir supprimer le compteur <b>N°{{item.numero}} : {{item.nom}}</b> ?
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
                                <button class="btn btn-primary" type="button" ng-click="ok()">Supprimer</button>
                            </div>
                        </script>

                </div>
              </div>
            </div>

          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
        <script src="users.js"></script>
    </body>
</html>