<div ng-controller="appCtrl">
<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><span>Smart</span>Relève</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

<!--
  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Rechercher...">
  </div>
-->

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">

      <i id="icon-compte" class="ion-person"></i>
      <!--  <img ng-src="{{::( 'Nasta' | profilePicture )}}">-->
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/profile"><i class="fa fa-user"></i>Mon Compte</a></li>
        <!--<li><a href><i class="fa fa-cog"></i>Paramètres</a></li>-->
        <li><a ng-click="deconnection()" href="index.html" class="signout"><i class="fa fa-power-off"></i>Déconnexion</a></li>
      </ul>
    </div>
  <!--  <msg-center></msg-center>-->
  </div>
</div>
</div>
