<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>comsuption</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>comsuption List App</h1>

    <table class="table">
      <tbody>
        <tr>
          <td><label>Id Counter</label></td>
          <td><input class="form-control" ng-model="comsuption.idCounter"></td>
        </tr>
          <td><label>Value</label></td>
          <td><input class="form-control" ng-model="comsuption.value"></td>
        </tr>
          <td><label>Status</label></td>
          <td><input class="form-control" ng-model="comsuption.status"></td>
        </tr>
          <td><label>Value Date</label></td>
          <td><input class="form-control" ng-model="comsuption.valueDate"></td>
        </tr>
          <td><button class="btn btn-primary" ng-click="addcomsuption()">Add comsuption</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="comsuption in comsuptionlist">
          <td>{{comsuption.idCounter}}</td>
          <td>{{comsuption.value}}</td>
          <td>{{comsuption.status}}</td>
          <td>{{comsuption.valueDate}}</td>
          <td><button class="btn btn-danger" ng-click="remove(comsuption._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(comsuption._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/comsuptionController.js"></script>
</body>
</html>
