<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>contract</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>contract List App</h1>

    <table class="table">
      <tbody>
        <tr>
          <td><label>Name</label></td>
          <td><input class="form-control" ng-model="contract.name"></td>
        </tr>
          <td><label>Id user</label></td>
          <td><input class="form-control" ng-model="contract.idUser"></td>
        </tr>
          <td><label>Start date</label></td>
          <td><input class="form-control" ng-model="contract.dateDebu"></td>
        </tr>
          <td><label>End date</label></td>
          <td><input class="form-control" ng-model="contract.dateFin"></td>
        </tr>
          <td><button class="btn btn-primary" ng-click="addcontract()">Add contract</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="contract in contractlist">
          <td>{{contract.name}}</td>
          <td>{{contract.idUser}}</td>
          <td>{{contract.dateDebu}}</td>
          <td>{{contract.dateFin}}</td>
          <td><button class="btn btn-danger" ng-click="remove(contract._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(contract._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/contractController.js"></script>
</body>
</html>
