<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>counter</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>counter List App</h1>

    <table class="table">
      <tbody>
        <tr>
          <td><label>Name</label></td>
          <td><input class="form-control" ng-model="counter.name"></td>
        </tr>
          <td><label>Type</label></td>
          <td><input class="form-control" ng-model="counter.type"></td>
        </tr>
          <td><label>Registretion Date</label></td>
          <td><input class="form-control" ng-model="counter.registretionDate"></td>
        </tr>
          <td><label>idUser</label></td>
          <td><input class="form-control" ng-model="counter.idUser"></td>
        </tr>
          <td><button class="btn btn-primary" ng-click="addcounter()">Add counter</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="counter in counterlist">
          <td>{{counter.name}}</td>
          <td>{{counter.type}}</td>
          <td>{{counter.registretionDate}}</td>
          <td>{{counter.idUser}}</td>
          <td><button class="btn btn-danger" ng-click="remove(counter._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(counter._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/counterController.js"></script>
</body>
</html>
