<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>User</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>User List App</h1>

    <table class="table">
      <tbody>
        <tr>
          <td><label>Name</label></td>
          <td><input class="form-control" ng-model="user.name"></td>
        </tr>
          <td><label>Lastname</label></td>
          <td><input class="form-control" ng-model="user.lastname"></td>
        </tr>
          <td><label>Login</label></td>
          <td><input class="form-control" ng-model="user.login"></td>
        </tr>
          <td><label>Password</label></td>
          <td><input class="form-control" ng-model="user.password"></td>
        </tr>
          <td><label>Mail</label></td>
          <td><input class="form-control" ng-model="user.mail"></td>
        </tr>
          <td><label>Adresse</label></td>
          <td><input class="form-control" ng-model="user.adresse"></td>
        </tr>
          <td><label>PotalCode</label></td>
          <td><input class="form-control" ng-model="user.potalCode"></td>
        </tr>
          <td><label>City</label></td>
          <td><input class="form-control" ng-model="user.city"></td>
        </tr>
          <td><label>Country</label></td>
          <td><input class="form-control" ng-model="user.country"></td>
        </tr>
          <td><button class="btn btn-primary" ng-click="adduser()">Add user</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="user in userlist">
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.login}}</td>
          <td>{{user.password}}</td>
          <td>{{user.mail}}</td>
          <td>{{user.adresse}}</td>
          <td>{{user.potalCode}}</td>
          <td>{{user.city}}</td>
          <td>{{user.country}}</td>
          <td><button class="btn btn-danger" ng-click="remove(user._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(user._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/userController.js"></script>
</body>
</html>
