<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addCompteur()">Ajouter un compteur</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td hidden="true">Id</td>
    <td>N°</td>
    <td>Nom</td>
    <td>Modèle</td>
    <td>Type</td>
    <td>Date d'installation</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="compteur in compteurs" class="editable-row">

    <td hidden="true">
        {{compteur.id}}
    </td>
      <td>
        <div editable-text="compteur.numero" e-name="numero" e-form="rowform" e-required>
          {{compteur.numero}}
        </div>
      </td>
    <td>
        <div class="capitalize" editable-text="compteur.nom" e-name="nom" e-form="rowform" onbeforesave="updateCompteur(compteur)" e-required>
          {{ compteur.nom || 'empty' }}
        </div>
    </td>
    <td>
        <span editable-text="compteur.modele" e-name="type" e-form="rowform" e-required>
          {{ compteur.modele }}
        </span>
    </td>
    <td>
        <div class="capitalize" editable-text="compteur.type" e-name="type" e-form="rowform" e-required>
          {{ compteur.type }}
        </div>
    </td>
    <td>
        <span editable-text="compteur.date" e-name="date" e-form="rowform" e-required>
          {{ compteur.date }}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == compteur">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Ajouter
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel($index, compteur.id)" class="btn btn-default editable-table-button btn-xs">
          Annuler
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Modifier</button>
        <button class="btn btn-danger editable-table-button btn-xs" class="md-primary md-raised" ng-click="showConfirm($event, compteur, $index)">Supprimer</button>
      </div>
    </td>
  </tr>
</table>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Supprimer un compteur</h3>
    </div>
    <div class="modal-body" id="modal-body">
          Êtes-vous sûr de vouloir supprimer le compteur <b>N°{{item.numero}} : {{item.nom}}</b> ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Supprimer</button>
    </div>
</script>
