<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td hidden="true">Id</td>
    <td>N°</td>
    <td>Nom</td>
    <td>Modèle</td>
    <td>Type</td>
    <td>Date d'installation</td>
  </tr>
  <tr  class="rowCompteurs" ng-repeat="compteur in compteurs" class="editable-row" ng-click="selectCounter(compteur.numero)"
      ng-class="{selectedRow : compteur.numero === numCompteur}">
    <td hidden="true">
        {{compteur.id}}
    </td>
      <td>
        <div>
          {{compteur.numero}}
        </div>
      </td>
    <td>
        <div class="capitalize">
          {{compteur.nom}}
        </div>
    </td>
    <td>
        <span>
          {{compteur.modele}}
        </span>
    </td>
    <td>
        <div class="capitalize">
          {{compteur.type}}
        </div>
    </td>
    <td>
        <span>
          {{compteur.date}}
        </span>
    </td>
  </tr>
</table>
