<div id="exportable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Nom compteur</th>
        <th>Par jour</th>
        <th>Par mois</th>
        <th>Par an</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="consommation in consommations">
        <td >{{consommation.date}}</td>
        <td>{{consommation.compteur}}</td>
        <td>{{consommation.jour}}</td>
        <td>{{consommation.mois}}</td>
        <td>{{consommation.an}}</td>
      </tr>
    </tbody>
  </table>
</div>
